# Copy to .env before docker compose up
# cp .env.example .env

POSTGRES_USER=cinema
POSTGRES_PASSWORD=cinema
POSTGRES_DB=postgres

JWT_SECRET=ThisIsADevOnlySecretKeyForHS256Algo!!
JWT_ISSUER=movie-booking
JWT_EXPIRATION_SECONDS=3600

REDIS_HOST=redis
KAFKA_BOOTSTRAP=kafka:9092
ZIPKIN_ENDPOINT=http://zipkin:9411/api/v2/spans
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
